@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
